<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/drivers/new.css" />
<%- include('../partials/nav') %>

  <main>
    <h1 class="driver">If They Can Really Driver Then Add Them Here😎</h1>
    <form id="new-form" action="/drivers" method="POST">
      <label for="first-input">First:</label>
      <input type="text" name="first" id="fist" />
      <label for="last-input">Last:</label>
      <input type="text" name="last" id="last" />
      <label for="gender-input">Gender:</label>
      <input type="text" name="gender" id="gender" />
      <label for="birth-input">Birth:</label>
      <input type="text" name="birth" id="birth" />
      <label for="insta-input">Instagram Tag:</label>
      <input type="text" name="insta" id="insta" />
      <label for="facebook-input">Facebook:</label>
      <input type="text" name="facebook" id="facebook" />
      <button type="submit">Add A Driver</button>
  </main>
    <%- include('../partials/footer') %>