  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a href="/" class="horse">
      <li>Horseless</li>
      <li>Carriage</li>
    </a>
    <a href="/cars">
      Our Cars Gallery
    </a>
    <% if (user) { %>
      <a href="/">
      Home
      </a>
      <a href="/drivers">
      Drivers
      </a>
      <a href="/Cars/new">
      Add A Car
      </a>
      <a href="/profiles">
      Profile
      </a>
      <a href="/auth/logout" class="logout">
       Logout
      </a>
    <% }

    else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
