  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a href="/" class="horse">
      <li class="top">Horseless</li>
      <li class="bottom">Carriage</li>
    </a>
    <a href="/cars">
      Our Cars Gallery
    </a>
    <% if (user) { %>
      
      
    

      <div class="dropdown">
        <button class="mainmenubtn">Main Menu</button>
        <div class="dropdown-child">
          <a href="/cars">
            Our Cars Gallery
          </a>
          <a href="/">
            Home
            </a>
            <a href="/drivers">
            Drivers
            </a>
            <a href="/Cars/new">
            Add A Car
            </a>
            <a href="/profiles">
            Profile
            </a>
            <a href="/auth/logout" class="logout">
             Logout
            </a>
        </div>
      </div>
    <% }

    else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
