  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    
   
   
    <% if (user) { %>
      
      <div class="navbar">
        <div class="dropdown">
          <button class="dropbtn">
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/">
              Home
            </a>
            <a href="/cars" class="gallery">
              Gallery
            </a>
              <a href="/drivers">
              Drivers
              </a>
              <a href="/drivers/new">
              Add Drivers
              </a>
              <a href="/Cars/new">
              Add A Car
              </a>
              <a href="/auth/logout" class="logout">
               Logout
              </a>
          </div>
        </div>
      </div>      
    <% }

    else { %>
      
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>

    <a href="/" class="horse">
      <li class="top">HS</li>
    </a>

  </nav>
